sql/core/src/test/resources/test-data/xml-resources/choice.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="el">
    <xs:complexType>
      <xs:choice>
        <xs:element name="foo" minOccurs="0" type="xs:string"/>
        <xs:element name="bar" minOccurs="1" type="xs:string"/>
        <xs:element name="baz" minOccurs="2" type="xs:string"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>